In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import hvplot.pandas
from pathlib import Path
import datetime
from census import Census
import requests
import panel as pn

api_key = 'ccc41077b9d4b0a0e2e2a2962b4d8539d61889cf'
c = Census(api_key, year=2017)
pn.extension('plotly')

In [ ]:
df = pd.read_csv(Path('Data/census_2010_2018_panel_df.csv'))

In [ ]:
df1 = df.drop(columns=['County', 'State', 'Poverty Count',
       'Poverty Rate', 'Employed_age16+_civilian', 'Employed_male',
       'Financial_managers_male', 'Financial_specialists_male',
       'Accountants_&_auditors_male', 'Computer_male', 'Software_devops_male',
       'Database_&_system_male', 'Employed_female',
       'Financial_managers_female', 'Financial_specialists_female',
       'Accountants_&_auditors_female', 'Computer_female',
       'Software_devops_female', 'Database_&_system_female',
       'Information_age16+_total', 'Finance_and_insurance', 'Real_estate'])

In [ ]:
df1['Year'] =  pd.to_datetime(df1['Year'], format='%Y')

In [ ]:
age_income = df1.filter(['Year', 'Name', 'Median Age', 'Household Income'])

In [ ]:
def age_income_plot():
    
    age_income_scatter = px.scatter(age_income, x="Year", y="Median Age", color="Name",
                     size='Household Income', hover_data=['Household Income'])
    return age_income_scatter

In [ ]:
def jobtype_barchart_plot():

    census_pop_concat_df2 = pd.read_csv('Data/census_pop_concat_df22.csv') 
    census_consolidated = census_pop_concat_df2.sort_values(
            by=['County', 'Job Type']
        )
# Assign to a variable (jobtype_barchart) to convert into pane 
    jobtype_barchart = census_consolidated.hvplot.bar("County", 
                                    xlabel="County", 
                                    ylabel="Number Employed", 
                                    rot=90, 
                                    groupby=('Job Type')
        )
    return jobtype_barchart
# Plotly pane does not support objects of type 'DynamicMap'.
# jobtype_barchart_pane = pn.pane.Plotly(jobtype_barchart)

In [ ]:
census_earn_data = c.acs1.get(("NAME", "B24022_005E",
                               "B24022_006E",
                               "B24022_008E",
                               "B24022_041E",
                               "B24022_042E",
                               "B24022_044E"
), {'for': 'county:061,005,047,081,085', 'in': 'state:36'})

In [ ]:
census_earn_pd_2018 = pd.DataFrame(census_earn_data)
pd.options.display.float_format = '${:,.2f}'.format
census_earn_pd_2018 = census_earn_pd_2018.rename(columns={"B24022_005E":"Male Management Earnings",
                               "B24022_006E":"Male Financial operations Earnings",
                               "B24022_008E":"Male Computer occupations Earnings",
                               "B24022_041E":"Female Management Earnings",
                               "B24022_042E":"Female Financial operations Earnings",
                               "B24022_044E":"Female Computer occupations Earnings"     
                                             
    })

In [ ]:
def malefemale_comp_earnings_plot():
    
    malefemale_comp_earnings = go.Figure(data=[
        go.Bar(name='Male', x=census_earn_pd_2018['NAME'], y=census_earn_pd_2018['Male Computer occupations Earnings']),
        go.Bar(name='Female', x=census_earn_pd_2018['NAME'], y=census_earn_pd_2018['Female Computer occupations Earnings'])
    ])
    malefemale_comp_earnings.update_layout(barmode='group', title='Male/Female Computer occupations Earnings')
    
    return malefemale_comp_earnings

In [ ]:
educational_df = pd.read_csv('Data/educational_data.csv').dropna()

In [ ]:
def educational_attainment_plot():

    educational_attainment = go.Figure(data=[
        go.Bar(name='Less than high school', x=educational_df['County'],
                                 y=educational_df['Less than high school graduate']),
        go.Bar(name="Some college or associate's degree", x=educational_df['County'], 
                                 y=educational_df["Some college or associate's degree"]),
        go.Bar(name="Bachelor's degree or higher", x=educational_df['County'], 
                                 y=educational_df["Bachelor's degree or higher"]),
        go.Bar(name="High school graduate (includes equivalency)", x=educational_df['County'], 
                                 y=educational_df["High school graduate (includes equivalency)"])
    ])
    educational_attainment.update_layout(barmode='group', title='Educational Attainment')
    
    return educational_attainment

In [ ]:
dashboard = pn.Tabs(
    ("Job Type Dynamic Bar Chart", jobtype_barchart_plot()),
    ("Male Female Computer Earnings", malefemale_comp_earnings_plot()),
    ("Median Age/Household Income Scatter", age_income_plot()),
    ("Educational Attainment", educational_attainment_plot())
)

In [ ]:
dashboard.servable()