In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import os
from us import states
from pathlib import Path
%matplotlib inline
import seaborn as sns

In [4]:
census_occupation_gender_df_2018 = pd.read_pickle("../Data/census_occupation_gender_pd_2018.pickle")
census_occupation_gender_df_2017 = pd.read_pickle("../Data/census_occupation_gender_pd_2017.pickle")
census_occupation_gender_df_2016 = pd.read_pickle("../Data/census_occupation_gender_pd_2016.pickle")
census_occupation_gender_df_2015 = pd.read_pickle("../Data/census_occupation_gender_pd_2015.pickle")
census_occupation_gender_df_2014 = pd.read_pickle("../Data/census_occupation_gender_pd_2014.pickle")
census_occupation_gender_df_2013 = pd.read_pickle("../Data/census_occupation_gender_pd_2013.pickle")
census_occupation_gender_df_2012 = pd.read_pickle("../Data/census_occupation_gender_pd_2012.pickle")
census_occupation_gender_df_2011 = pd.read_pickle("../Data/census_occupation_gender_pd_2011.pickle")
census_occupation_gender_df_2010 = pd.read_pickle("../Data/census_occupation_gender_pd_2010.pickle")

In [5]:
census_2010_2018_df = pd.concat(
                                [census_occupation_gender_df_2010, census_occupation_gender_df_2011, census_occupation_gender_df_2012, 
                                 census_occupation_gender_df_2013, census_occupation_gender_df_2014, census_occupation_gender_df_2015, 
                                 census_occupation_gender_df_2016, census_occupation_gender_df_2017, census_occupation_gender_df_2018], 
                                     join='inner', axis="rows").set_index('Year','County') # join rows

In [7]:
census_2010_2018_df.sort_index().head()

,State,County,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employed_age16+_civilian,...,Employed_female,Financial_managers_female,Financial_specialists_female,Accountants_&_auditors_female,Computer_female,Software_devops_female,Database_&_system_female,Information_age16+_total,Finance_and_insurance,Real_estate
Year,,,,,,,,,,,,,,,,,,,,,
2010,36,005,"Bronx County, New York",1386657.0,32.8,32568.0,16671.0,408584.0,29.465398,382642.0,...,184353.0,1549.0,4344.0,3544.0,926.0,362.0,0.0,49090.0,45770.0,39340.0
2010,36,047,"Kings County, New York",2508340.0,34.2,42143.0,23218.0,571936.0,22.801375,793298.0,...,376222.0,3503.0,10787.0,7354.0,4383.0,2111.0,585.0,56023.0,60058.0,41348.0
2010,36,061,"New York County, New York",1586698.0,36.4,63832.0,56556.0,254289.0,16.026301,604865.0,...,285240.0,3924.0,13964.0,7023.0,3815.0,1090.0,352.0,82014.0,125112.0,42421.0
2010,36,081,"Queens County, New York",2233841.0,37.3,53054.0,24530.0,332165.0,14.869680,763128.0,...,332019.0,3813.0,13008.0,9999.0,3256.0,1310.0,199.0,52500.0,61474.0,42878.0
2010,36,085,"Richmond County, New York",469363.0,38.7,70560.0,30122.0,54353.0,11.580163,151120.0,...,63558.0,943.0,1931.0,1726.0,1021.0,765.0,80.0,65619.0,66770.0,70510.0

In [ ]:
#census_2010_2018_df.to_pickle('census_2010_2018_df.pickle')

In [ ]:
#census_2010_2018_df.to_csv('census_2010_2018_df.csv', encoding="utf-8", index=False)

In [8]:
census_2010_2018_df.reset_index(inplace=True)
census_2010_2018_df.head()

,Year,State,County,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,...,Employed_female,Financial_managers_female,Financial_specialists_female,Accountants_&_auditors_female,Computer_female,Software_devops_female,Database_&_system_female,Information_age16+_total,Finance_and_insurance,Real_estate
0,2010,36,005,"Bronx County, New York",1386657.0,32.8,32568.0,16671.0,408584.0,29.465398,...,184353.0,1549.0,4344.0,3544.0,926.0,362.0,0.0,49090.0,45770.0,39340.0
1,2010,36,047,"Kings County, New York",2508340.0,34.2,42143.0,23218.0,571936.0,22.801375,...,376222.0,3503.0,10787.0,7354.0,4383.0,2111.0,585.0,56023.0,60058.0,41348.0
2,2010,36,061,"New York County, New York",1586698.0,36.4,63832.0,56556.0,254289.0,16.026301,...,285240.0,3924.0,13964.0,7023.0,3815.0,1090.0,352.0,82014.0,125112.0,42421.0
3,2010,36,081,"Queens County, New York",2233841.0,37.3,53054.0,24530.0,332165.0,14.869680,...,332019.0,3813.0,13008.0,9999.0,3256.0,1310.0,199.0,52500.0,61474.0,42878.0
4,2010,36,085,"Richmond County, New York",469363.0,38.7,70560.0,30122.0,54353.0,11.580163,...,63558.0,943.0,1931.0,1726.0,1021.0,765.0,80.0,65619.0,66770.0,70510.0

In [39]:
#census_2010_2018_df.to_pickle('census_2010_2018_panel_index_free_df.pickle')

In [15]:
#census_2010_2018_df.to_pickle('census_2010_2018_panel_df.pickle')

In [17]:
#census_2010_2018_df.to_csv('census_2010_2018_panel_df.csv', encoding="utf-8", index=False)

In [11]:
df = pd.read_pickle('../Data/census_2010_2018_panel_df.pickle')
df.head()

,State,County,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employed_age16+_civilian,...,Employed_female,Financial_managers_female,Financial_specialists_female,Accountants_&_auditors_female,Computer_female,Software_devops_female,Database_&_system_female,Information_age16+_total,Finance_and_insurance,Real_estate
Year,,,,,,,,,,,,,,,,,,,,,
2010,36,005,"Bronx County, New York",1386657.0,32.8,32568.0,16671.0,408584.0,29.465398,382642.0,...,184353.0,1549.0,4344.0,3544.0,926.0,362.0,0.0,49090.0,45770.0,39340.0
2010,36,047,"Kings County, New York",2508340.0,34.2,42143.0,23218.0,571936.0,22.801375,793298.0,...,376222.0,3503.0,10787.0,7354.0,4383.0,2111.0,585.0,56023.0,60058.0,41348.0
2010,36,061,"New York County, New York",1586698.0,36.4,63832.0,56556.0,254289.0,16.026301,604865.0,...,285240.0,3924.0,13964.0,7023.0,3815.0,1090.0,352.0,82014.0,125112.0,42421.0
2010,36,081,"Queens County, New York",2233841.0,37.3,53054.0,24530.0,332165.0,14.869680,763128.0,...,332019.0,3813.0,13008.0,9999.0,3256.0,1310.0,199.0,52500.0,61474.0,42878.0
2010,36,085,"Richmond County, New York",469363.0,38.7,70560.0,30122.0,54353.0,11.580163,151120.0,...,63558.0,943.0,1931.0,1726.0,1021.0,765.0,80.0,65619.0,66770.0,70510.0

In [12]:
census_2010_2018_outer_df = pd.concat(
                                [census_occupation_gender_df_2010, census_occupation_gender_df_2011, census_occupation_gender_df_2012, 
                                 census_occupation_gender_df_2013, census_occupation_gender_df_2014, census_occupation_gender_df_2015, 
                                 census_occupation_gender_df_2016, census_occupation_gender_df_2017, census_occupation_gender_df_2018], 
                                     join='outer', axis="rows").set_index('Year','County') # join rows
census_2010_2018_outer_df.head()

/Users/leonzubkov/opt/anaconda3/envs/notbase/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

,Accountants_&_auditors_female,Accountants_&_auditors_male,Computer_female,Computer_male,County,Database_&_system_female,Database_&_system_male,Employed_age16+_civilian,Employed_female,Employed_male,...,Name,Per Capita Income,Population,Poverty Count,Poverty Rate,Real_estate,Software_devops_female,Software_devops_male,State,Unemployment Rate
Year,,,,,,,,,,,,,,,,,,,,,
2010,3544.0,1528.0,926.0,3464.0,005,0.0,665.0,382642.0,184353.0,198289.0,...,"Bronx County, New York",16671.0,1386657.0,408584.0,29.465398,39340.0,362.0,430.0,36,NaN
2010,7354.0,7706.0,4383.0,14991.0,047,585.0,1375.0,793298.0,376222.0,417076.0,...,"Kings County, New York",23218.0,2508340.0,571936.0,22.801375,41348.0,2111.0,9372.0,36,NaN
2010,7023.0,10295.0,3815.0,14842.0,061,352.0,984.0,604865.0,285240.0,319625.0,...,"New York County, New York",56556.0,1586698.0,254289.0,16.026301,42421.0,1090.0,7622.0,36,NaN
2010,9999.0,8278.0,3256.0,12782.0,081,199.0,1429.0,763128.0,332019.0,431109.0,...,"Queens County, New York",24530.0,2233841.0,332165.0,14.869680,42878.0,1310.0,4185.0,36,NaN
2010,1726.0,2064.0,1021.0,3628.0,085,80.0,745.0,151120.0,63558.0,87562.0,...,"Richmond County, New York",30122.0,469363.0,54353.0,11.580163,70510.0,765.0,995.0,36,NaN

In [14]:
census_2010_2018_outer_df.reset_index().head()

,Year,Accountants_&_auditors_female,Accountants_&_auditors_male,Computer_female,Computer_male,County,Database_&_system_female,Database_&_system_male,Employed_age16+_civilian,Employed_female,...,Name,Per Capita Income,Population,Poverty Count,Poverty Rate,Real_estate,Software_devops_female,Software_devops_male,State,Unemployment Rate
0,2010,3544.0,1528.0,926.0,3464.0,005,0.0,665.0,382642.0,184353.0,...,"Bronx County, New York",16671.0,1386657.0,408584.0,29.465398,39340.0,362.0,430.0,36,NaN
1,2010,7354.0,7706.0,4383.0,14991.0,047,585.0,1375.0,793298.0,376222.0,...,"Kings County, New York",23218.0,2508340.0,571936.0,22.801375,41348.0,2111.0,9372.0,36,NaN
2,2010,7023.0,10295.0,3815.0,14842.0,061,352.0,984.0,604865.0,285240.0,...,"New York County, New York",56556.0,1586698.0,254289.0,16.026301,42421.0,1090.0,7622.0,36,NaN
3,2010,9999.0,8278.0,3256.0,12782.0,081,199.0,1429.0,763128.0,332019.0,...,"Queens County, New York",24530.0,2233841.0,332165.0,14.869680,42878.0,1310.0,4185.0,36,NaN
4,2010,1726.0,2064.0,1021.0,3628.0,085,80.0,745.0,151120.0,63558.0,...,"Richmond County, New York",30122.0,469363.0,54353.0,11.580163,70510.0,765.0,995.0,36,NaN

In [45]:
census_2010_2018_outer_df.to_pickle('census_2010_2018_outer_index_free_df.pickle')

In [47]:
census_2010_2018_outer_df.to_csv('census_2010_2018_outer_index_free_df.csv', encoding="utf-8")